{% extends 'base.html.twig' %}

{% block title %}Hello AddDailyReportController!{% endblock %}

{% form_theme form 'forms/daily_report_form.html.twig' %}

{% block body %}
    <div class="uk-section uk-section-muted uk-flex uk-flex-middle" uk-height-viewport>
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-card uk-card-default uk-card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}